:root{
    --color-first1:#7f00ffff;
    --color-first2:rgb(109, 2, 216);
    --color-second1:#00fe7eff;
    --color-second2:rgb(3, 212, 108);
    --color-third1:#ff7f00ff;
    --color-third2:rgb(204, 102, 0);

}